# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



красная тень при ховере:
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.6s ease, transform 0.5s ease;

Ховер
box-shadow: 0 8px 16px rgba(230, 67, 60, 0.8);
transform: scale(1.1);