<div class="container">
    <section class="benefits" id="benefits">
        <div class="benefits__content">
            <h2 class="benefits__title">Benefits of working with me</h2>
            <ul class="benefits__list">
                <li class="benefits__item">
                    <div class="benefits__icon__wrapper">
                        <svg class="benefits__icon" width="24" height="24">
                            <use xlink:href="./img/icon/symbol-defs.svg#icon-user"></use>
                        </svg>
                    </div>
                    <div class="benefits__text">
                        <h3 class="benefits__text__title">Expertise</h3>
                        <p class="text">As a highly experienced developer, I have deep knowledge of programming and
                            website development.</p>
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="benefits__icon__wrapper">
                        <svg class="benefits__icon" width="24" height="24">
                            <use xlink:href="../img/icon/symbol-defs.svg#icon-message-chat-circle"></use>
                        </svg>
                    </div>
                    <div class="benefits__text">
                        <h3 class="benefits__text__title">Communication</h3>
                        <p class="text">Understanding your needs and wants is my priority and I am always open to
                            discussions and corrections.</p>
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="benefits__icon__wrapper">
                        <svg class="benefits__icon" width="24" height="24">
                            <use xlink:href="../img/icon/symbol-defs.svg#icon-icon-brush"></use>
                        </svg>
                    </div>
                    <div class="benefits__text">
                        <h3 class="benefits__text__title">Art</h3>
                        <p class="text">Thanks to my creative nature, I am ready to accept challenges and help you bring
                            your ideas to life.</p>
                    </div>
                </li>
                <li class="benefits__item">
                    <div class="benefits__icon__wrapper">
                        <svg class="benefits__icon" width="24" height="24">
                            <use xlink:href="../img/icon/symbol-defs.svg#icon-icon-hourglass"></use>
                        </svg>
                    </div>
                    <div class="benefits__text">
                        <h3 class="benefits__text__title">Urgent Execution</h3>
                        <p class="text">I understand how important time is to you. Ready to work quickly and
                            efficiently, without reducing the quality of work.</p>
                    </div>
                </li>
            </ul>

        </div>
        <a class="benefits__btn" href="#contactForm" aria-label="Let's work together" title="Let's work together"><span
                class="text-button">Order the project</span></a>
    </section>
</div>


