<section class="covers">
  <div class="marquee">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="marquee__inner">
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-1.jpg   1x,
                ./img/project/Rectangle-@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-1.jpg    1x,
                ./img/project/Rectangle-1@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-1.jpg    1x,
                ./img/project/Rectangle-1@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src="./img/project/Rectangle-1.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-2.jpg    1x,
                ./img/project/Rectangle-2@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-2.jpg    1x,
                ./img/project/Rectangle-2@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-2.jpg    1x,
                ./img/project/Rectangle-2@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src="./img/project/Rectangle-2.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-3.jpg    1x,
                ./img/project/Rectangle-3@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-3.jpg    1x,
                ./img/project/Rectangle-3@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-3.jpg    1x,
                ./img/project/Rectangle-3@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src=" ./img/project/Rectangle-3.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-1.jpg   1x,
                ./img/project/Rectangle-@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-1.jpg    1x,
                ./img/project/Rectangle-1@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-1.jpg    1x,
                ./img/project/Rectangle-1@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src="./img/project/Rectangle-1.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-4.jpg    1x,
                ./img/project/Rectangle-4@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-4.jpg    1x,
                ./img/project/Rectangle-4@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-4.jpg    1x,
                ./img/project/Rectangle-4@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src="./img/project/Rectangle-4.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-5.jpg    1x,
                ./img/project/Rectangle-5@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-5.jpg    1x,
                ./img/project/Rectangle-5@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-5.jpg    1x,
                ./img/project/Rectangle-5@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src="./img/project/Rectangle-5.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-6.jpg    1x,
                ./img/project/Rectangle-6@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-6.jpg    1x,
                ./img/project/Rectangle-6@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-6.jpg    1x,
                ./img/project/Rectangle-6@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src="./img/project/Rectangle-6.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-7.jpg    1x,
                ./img/project/Rectangle-7@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-7.jpg    1x,
                ./img/project/Rectangle-7@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-7.jpg    1x,
                ./img/project/Rectangle-7@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src="./img/project/Rectangle-6.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-10.jpg    1x,
                ./img/project/Rectangle-10@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-10.jpg    1x,
                ./img/project/Rectangle-10@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-10.jpg    1x,
                ./img/project/Rectangle-10@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src="./img/project/Rectangle-10.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-8.jpg    1x,
                ./img/project/Rectangle-8@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-8.jpg    1x,
                ./img/project/Rectangle-8@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-8.jpg    1x,
                ./img/project/Rectangle-8@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src="./img/project/Rectangle-8.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-9.jpg    1x,
                ./img/project/Rectangle-9@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-9.jpg    1x,
                ./img/project/Rectangle-9@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-9.jpg    1x,
                ./img/project/Rectangle-9@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src="./img/project/Rectangle-9.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/project/Rectangle-10.jpg    1x,
                ./img/project/Rectangle-10@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/project/Rectangle-10.jpg    1x,
                ./img/project/Rectangle-10@2x.jpg 2x
              "
              width="544"
              type="image/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./img/project/Rectangle-10.jpg    1x,
                ./img/project/Rectangle-10@2x.jpg 2x
              "
              width="282"
              type="image/jpg"
            />
            <img
              class="marquee-foto"
              src="./img/project/Rectangle-10.jpg"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
