<section class="faq-section">
    <div class="container">
        <h1 id="faq" class="main-text">FAQ</h1>
        <div class="accordion-container">
            <ul class="faq-list">
                <li class="faq-li-left">
                    <div class="faq-container">
                        <div class="faq-container-left">
                            <div class="question-container">
                                <h2 class="question-text">
                                    What programming languages are most often used in your project?
                                </h2>
                                <button type="button" class="faq-btn">
                                    <svg class="faq-icon" width="20" height="20">
                                        <use href="./img/icon/symbol-defs.svg#icon-icon-v"></use>
                                    </svg>
                                </button>
                            </div>

                            <p class="answer-text">
                                In the field of web development, there are various technologies and programming
                                languages.
                                Typically,
                                this includes a
                                combination of frontend (client side) and backend (server side) languages.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="faq-li-right">
                    <div class="faq-container">
                        <div class="faq-container-right">
                            <div class="question-container">
                                <h2 class="question-text">
                                    How can I contact you?
                                </h2>
                                <button type="button" class="faq-btn">
                                    <svg class="faq-icon" width="20" height="20">
                                        <use href="./img/icon/symbol-defs.svg#icon-icon-v"></use>
                                    </svg>
                                </button>
                            </div>

                            <p class="answer-text">
                                In the field of web development, there are various technologies and programming
                                languages.
                                Typically, this includes a
                                combination of frontend (client side) and backend (server side) languages.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="faq-li-left">
                    <div class="faq-container">
                        <div class="faq-container-left">
                            <div class="question-container">
                                <h2 class="question-text">
                                    What are the deadlines for the project?

                                </h2>
                                <button type="button" class="faq-btn">
                                    <svg class="faq-icon" width="20" height="20">
                                        <use href="./img/icon/symbol-defs.svg#icon-icon-v"></use>
                                    </svg>
                                </button>
                            </div>

                            <p class="answer-text">
                                The terms of project implementation depend to a large extent on a number of factors,
                                such as
                                the scope of the project,
                                its complexity, and the availability of resources. Determining exact deadlines is a
                                difficult task, and it usually
                                occurs during the planning phase of the project.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="faq-li-right">
                    <div class="faq-container">
                        <div class="faq-container-right">
                            <div class="question-container">
                                <h2 class="question-text">
                                    Do you provide advice or support?
                                </h2>
                                <button type="button" class="faq-btn">
                                    <svg class="faq-icon" width="20" height="20">
                                        <use href="./img/icon/symbol-defs.svg#icon-icon-v"></use>
                                    </svg>
                                </button>
                            </div>

                            <p class="answer-text">
                                The terms of project implementation depend to a large extent on a number of factors,
                                such as
                                the
                                scope of the project,
                                its complexity, and the availability of resources. Determining exact deadlines is a
                                difficult
                                task,
                                and it usually
                                occurs during the planning phase of the project.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="faq-li-left">
                    <div class="faq-container">
                        <div class="faq-container-left">
                            <div class="question-container">
                                <h2 class="question-text">
                                    What payment methods do you accept?
                                </h2>
                                <button type="button" class="faq-btn">
                                    <svg class="faq-icon" width="20" height="20">
                                        <use href="./img/icon/symbol-defs.svg#icon-icon-v"></use>
                                    </svg>
                                </button>
                            </div>

                            <p class="answer-text">
                                Payment through credit and debit cards such as Visa, MasterCard, specialized electronic
                                payment systems such as PayPal,
                                as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="faq-li-right">
                    <div class="faq-container">
                        <div class="faq-container-right">
                            <div class="question-container">
                                <h2 class="question-text">
                                    What does the process of developing a software product look like from idea to
                                    implementation?
                                </h2>
                                <button type="button" class="faq-btn">
                                    <svg class="faq-icon" width="20" height="20">
                                        <use href="./img/icon/symbol-defs.svg#icon-icon-v"></use>
                                    </svg>
                                </button>
                            </div>

                            <p class="answer-text">
                                Payment through credit and debit cards such as Visa, MasterCard, specialized electronic
                                payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin,
                                Ethereum and others.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>