<!--============== Work together section (footer) ============== -->

<section class="work-together-section container">
  <h2 class="work-together-section-title">
    Let’s <span class="them-color">work</span> together
  </h2>

  <form class="contact-form" id="contactForm">
    <input
      type="email"
      id="email"
      name="email"
      required
      pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
      placeholder="clients@gmail.com"
      title="Enter a valid email address (example: user@gmail.com)"
      aria-label="Email address"
    />
    <input
      type="text"
      id="comments"
      name="comments"
      required
      placeholder="comments"
      aria-label="Add comments"
    />

    <button type="submit">Send</button>
  </form>

  <!-- contact-info -->

  <div class="contact-info">
    <p>Email: <a href="#">lloydjefferson@gmail.com</a></p>
    <p>Phone: <a href="#">+380 11 1111 11 11</a></p>
  </div>
</section>

<!-- success Modal window -->

<div id="successModal" class="modal hidden">
  <div class="modal-content">
    <p>Request sent successfully!</p>
    <button id="closeModal">OK</button>
  </div>
</div>
