<header class="header">
  <div class="container">
    <div class="container-header">
      <a href="#" class="logo">
        <img src="./img/dev-lloyd/dev-lloyd-dsk@2x.png" alt="Logo" />
        <svg class="logo__text" width="84" height="19">
          <use href="./img/icon/jefferson.svg#jefferson-text"></use>
        </svg>
      </a>

      <div class="menu-container">
        <a href="#" class="menu-toggle">Menu</a>

        <nav class="nav">
          <ul class="nav-list">
            <li><a href="#about">About Me</a></li>
            <li><a href="#benefits">Benefits</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#faq">FAQ</a></li>
          </ul>
        </nav>
      </div>

      <a href="#work-together" class="order-btn">Order the project</a>

      <div class="mobile-menu">
        <button class="close-menu" aria-label="Close menu">&times;</button>
        <nav>
          <ul class="mobile-nav">
            <li><a href="#about">About Me</a></li>
            <li><a href="#benefits">Benefits</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#faq">FAQ</a></li>
          </ul>
        </nav>

        <a href="#work-together" class="order-btn-mobile">Order the project</a>
      </div>

      <button class="burger-menu" aria-label="Open mobile menu">
        <span></span><span></span>
      </button>
    </div>
  </div>
</header>
