<!-- Hero -->
     <section class="hero-section">
        <div class="container div-container">
     <h1 class="title">Hello.<br>I’m Fullstack developer Lloyd Jefferson.</h1>
        <ul class="list-hero">
            <li class="list-item"><a class="link" href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer nofollow">IG</a></li>
            <li class="list-item"><a class="link-two" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer nofollow">FB</a></li>
            <li class="list-item"><a class="link-three" href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer nofollow">YT</a></li>
            <li class="list-item"><a class="link-four" href="https://graudu12.github.io/portfolio-js-goit-team10/" target="_blank">GH</a></li>
            <li class="list-item"><a class="link-five" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
        </ul>
        </div>
     </section>

  