<!-- Hero -->
     <section class="section container">
     <h1 class="title">Hello.<br>I’m Fullstack developer Lloyd Jefferson.</h1>
        <ul class="ul">
            <li class="li"><a class="a" href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
            <li class="li-two"><a class="a-two" href="https://www.youtube.com/c/GoIT" target="_blank">FB</a></li>
            <li class="li-three"><a class="a-three" href="https://www.facebook.com/goITclub/" target="_blank">YT</a></li>
            <li class="li-four"><a class="a-four" href="https://graudu12.github.io/portfolio-js-goit-team10/" target="_blank">GH</a></li>
            <li class="li-five"><a class="a-five">lloydjefferson@gmail.com</a></li>
        </ul>
     </section>
  