<!--============== Modal-window ============== -->

<div class="modal-overlay" data-modal>
  <div class="modal">
    <button
      class="modal-button-close button-close"
      type="button"
      data-modal-close
    >
      <svg class="close-icon" width="8" height="8">
        <use href="./img/icon/symbol-defs.svg#icon-icon-close"></use>
      </svg>
    </button>
    <h3 class="modal-answer-title"></h3>
    <p class="modal-answer-text"></p>
  </div>
</div>

<!--============== Modal-window ============== -->
