<section class="projects-section container">
  <h2 class="projects-title">Projects</h2>
  <div class="swiper">
    <ul class="projects-list swiper-wrapper">
      <li class="projects-list-item swiper-slide">
        <div class="projects-list-item-container">
          <ul class="technologies-list">
            <li class="technologies-list-item">
              <p>#react</p>
            </li>
            <li class="technologies-list-item">
              <p>#js</p>
            </li>
            <li class="technologies-list-item">
              <p>#node js</p>
            </li>
            <li class="technologies-list-item">
              <p>#git</p>
            </li>
          </ul>
          <h3 class="projects-list-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <button class="projects-button" type="button">See project</button>
        </div>

        <div class="projects-list-image-container">
          <img
            src="./img/desktop/expand-mind-dsk.jpg"
            alt="photo-project-expand-mind"
            width="614px"
            height="385px"
          />
        </div>
      </li>
      <li class="projects-list-item swiper-slide">
        <div class="projects-list-item-container">
          <ul class="technologies-list">
            <li class="technologies-list-item">
              <p>#react</p>
            </li>
            <li class="technologies-list-item">
              <p>#js</p>
            </li>
            <li class="technologies-list-item">
              <p>#node js</p>
            </li>
            <li class="technologies-list-item">
              <p>#git</p>
            </li>
          </ul>
          <h3 class="projects-list-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <button class="projects-button" type="button">See project</button>
        </div>
        <div class="projects-list-image-container">
          <img
            src="./img/desktop/petlove-dsk.jpg"
            alt="photo-project-petlove"
            width="614px"
            height="385px"
          />
        </div>
      </li>
      <li class="projects-list-item swiper-slide">
        <div class="projects-list-item-container">
          <ul class="technologies-list">
            <li class="technologies-list-item">
              <p>#react</p>
            </li>
            <li class="technologies-list-item">
              <p>#js</p>
            </li>
            <li class="technologies-list-item">
              <p>#node js</p>
            </li>
            <li class="technologies-list-item">
              <p>#git</p>
            </li>
          </ul>
          <h3 class="projects-list-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <button class="projects-button" type="button">See project</button>
        </div>
        <div class="projects-list-image-container">
          <img
            src="./img/desktop/register-dsk.jpg"
            alt="photo-project-register"
            width="614px"
            height="385px"
          />
        </div>
      </li>
    </ul>

    <div class="projects-swiper-navigation">
      <div class="projects-swiper-button-prev">
        <svg class="arrow-button-left">
          <use href="./img/icon/symbol-defs.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
      <div class="projects-swiper-button-next">
        <svg class="arrow-button-right">
          <use href="./img/icon/symbol-defs.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
