<!-- reviews-section LENA BOKHAN-->
<section class="reviews-section js-reviews-section">
  <div class="container container-reviews">
    <h1 class="reviews-title">REVIEWS</h1>
    <div class="loader"></div>

    <div class="swiper swiper-reviews" tabindex="0">
      <ul class="swiper-wrapper wrap-card"></ul>

      <div class="btn-rev-wraper">
        <button
          class="swiper-button-prev swiper-button-prev-rev button-active-mob"
          tabindex="0"
          type="button"
        >
          <svg class="arr-btn-review" style="transform: rotate(180deg)">
            <use
              href="./img/icon/symbol-defs.svg#icon-arrow-narrow-right"
            ></use>
          </svg>
        </button>
        <button
          class="swiper-button-next swiper-button-next-rev button-active-mob"
          type="button"
        >
          <svg class="arr-btn-review">
            <use
              href="./img/icon/symbol-defs.svg#icon-arrow-narrow-right"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
