:root {
  --font-family: 'Inter Tight', sans-serif;
  --font-size: 16px;
  --line-height: 24px;
  --font-weight: 500;

  --color-text: #fafafa;
  --background: #1c1d20;

  --lightgreen: #c6e327;
  --green: #3cbc81;
  --red: #e74a3b;
  --aquamarine: #0041e8;
  --modal-background: #3b3b3b;
  --litegray: #2b4441;
  --hover-btn-prj: #e0373f;
  --coral-button: #ed3b44;
  --carrot: #e6533c;
  --liteorange: #ff7f08;
  --bgr-card-prj: #242527;
  --border-prj: rgba(28, 29, 32, 0.2);
  --text-grey-all: rgba(250, 250, 250, 0.6);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--color-text);
  background-color: var(--background);
}

main {
  flex-grow: 1;
}

.main-with-back {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.them-color {
  color: #e6533c;
}
.black-button {
  transition: border-color 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.black-button:hover,
.black-button:focus {
  transform: scale(1.03);
  border-color: #fafafa;
  box-shadow: 1px 8px 10px 1px #e6433ccc;
}
.black-button:active,
.button-active-mob:active {
  transform: scale(0.96);
}
