.benefits {
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .benefits {
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits {
    padding-bottom: 164px;
  }
}

.text {
  font-size: 16px;
  opacity: 60%;
}

.benefits__icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.benefits__subtitle {
  font-size: 18px;
  margin: 10px 0 5px;
}

@media screen and (min-width: 1440px) {
  .benefits__content {
    display: flex;
    justify-content: space-between;
  }
}

.container-list-with-button {
  /* display: flex; */
  flex-direction: column;
  /* gap: 32px; */
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1440px) {
  .container-list-with-button {
    width: 710px;
    display: flex;
    align-items: center;
  }
}

.benefits__title {
  flex: 1;
  text-align: left;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #fafafa66;
  text-transform: uppercase;
  margin-bottom: 32px;
}

@media screen and (min-width: 1440px) {
  .benefits__title {
    margin-bottom: 0px;
  }
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  box-sizing: border-box;
  color: #fff;
  text-align: left;
  border-radius: 20px;
  padding: 24px;
  background: #242527;
  transition: box-shadow 0.6s ease, transform 0.5s ease;
  cursor: pointer;
}

.benefits__item:hover {
  box-shadow: 0 14px 15px rgb(230, 67, 60, 0.8);
}

@media screen and (min-width: 768px) {
  .benefits__item {
    border-radius: 20px;
    padding: 24px;
    width: 344px;
    height: 270px;
    margin-bottom: 0;
  }
}

.benefits__list {
  gap: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    gap: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits__list {
    justify-content: right;
  }
}

.benefits__icon__wrapper {
  width: 48px;
  height: 48px;
  border-radius: 20%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ed3b44;
  margin-bottom: 64px;
}

.benefits__text__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.benefits__btn {
  display: inline-block;
  margin-right: auto;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 18px 36px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
