.question-text {
  color: #fafafa;
  margin-right: 42px;
  margin-bottom: 26px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  width: 485px;
}

.answer-text {
  margin-right: 32px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.main-text {
  margin-bottom: 32px;
  margin-left: 32px;
  font-family: 'Inter Tight', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.faq-icon {
  fill: none;
  stroke: #fafafa;
}

.faq-btn {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: 32px;
  background-color: transparent;
}

.faq-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.6s ease, transform 0.5s ease;
  box-shadow: 0 8px 16px rgba(230, 83, 60, 0.8);
  transform: scale(1.1);
}

.faq-btn:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.6s ease, transform 0.5s ease;
  box-shadow: 0 8px 16px rgba(230, 83, 60, 0.8);
  transform: scale(1.1);
}

.question-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.accordion-container {
  margin-left: 32px;
  margin-right: 32px;
}

.faq-section {
  margin-bottom: 164px;
}

.faq-li-left {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-left: none;
}

.faq-li-right {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-right: none;
}

.faq-container-right {
  margin-left: 32px;
}

.faq-container-right,
.faq-container-left {
  padding-top: 32px;
  position: relative;
}

@media (min-width: 375px) {
  .faq-list {
    grid-template-columns: 1fr;
  }

  .faq-li-left,
  .faq-li-right {
    border-left: none;
    border-right: none;
    padding: 0;
  }

  .accordion-container {
    margin-left: 16px;
    margin-right: 16px;
  }

  .main-text {
    margin-left: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .faq-list {
    grid-template-columns: 1fr;
  }

  .faq-li-left,
  .faq-li-right {
    padding: 0;
  }
}
