/* =====////////////=====----- work-together-section -----=====////////////===== */

.work-together-section {
  padding-top: 32px;
  padding-bottom: 32px;
}
.work-together-section .container {
  position: relative;
}
.work-together-section .container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 560px;
  width: 80px;
  background-image: url('../img/desktop/background-last-section-mob.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.work-together-logo {
  display: inline;
  width: 44px;
  height: 44px;
  vertical-align: middle;
}
.work-together-section-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-bottom: 63px;
}
.contact-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.input-work-together-section {
  color: #fafafa;
  background-color: #1c1d20;
  outline: none;
  border: none;
  border-bottom: 1px solid #fafafa33;
  padding: 18px 0;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: border-bottom 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background-image 0.8s ease-in-out;
}
.input-work-together-section::placeholder {
  color: #fafafa99;
}

.input-work-together-section:focus {
  border-bottom: 2px solid #fafafa80;
  box-shadow: none;
  background-color: transparent;
}
.input-work-together-section:valid {
  background-color: transparent;
  border-bottom: 2px solid #3cbc81;
}
.input-work-together-section:invalid:not(:placeholder-shown) {
  border-bottom: 2px solid #e6533c;
}
.input-work-together-section:focus,
.input-work-together-section:hover,
.input-work-together-section:active {
  border-bottom: 2px solid #fafafa;
  background-image: linear-gradient(
    to top,
    rgba(250, 250, 250, 0.1) 9%,
    rgba(28, 29, 32, 0) 86%
  );
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1c1d20 inset !important;
  -webkit-text-fill-color: #fafafa !important;
  -webkit-outline: inherit !important;
  -webkit-background-clip: padding-box !important;
}
.result-message {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  margin-top: 4px;
}

.contact-form-btn {
  background-color: #e6533c;
  color: #fafafa;
  width: 100px;
  height: 100px;
  margin-top: 32px;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: box-shadow 0.8s ease, background-color 0.8s ease,
    transform 0.5s ease;
}

.contact-form-btn:focus,
.contact-form-btn:hover {
  background-color: #cb4531;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

.contact-form-btn:active {
  transform: scale(0.98);
}
.blok-address {
  margin-top: 64px;
}
.contact-info {
  display: flex;
  gap: 4px;
}
.contact-info-item {
  letter-spacing: -0.02em;
  font-size: 13px;
  border: 1px solid #fafafa33;
  border-radius: 60px;
  padding: 10px 12px;
  @media screen and (min-width: 350px) {
    font-size: 14px;
  }
}

/* ----------========== tablet ==========---------- */

@media screen and (min-width: 768px) {
  .work-together-section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 169px;
  }
  .work-together-section .container::after {
    top: -70px;
    right: 0px;
    height: 630px;
    width: 220px;
    background-image: url('../img/desktop/background-last-section-tab.webp');
  }
  .work-together-logo {
    width: 70px;
    height: 70px;
  }
  .work-together-section-title {
    margin-bottom: 18px;
    max-width: 542px;
    font-size: 64px;
  }
  .contact-form {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    position: relative;
  }
  .input-work-together-section {
    padding: 20px 0;
    max-width: 245px;
  }
  .result-message {
    position: absolute;
    top: 104px;
    left: 0;
  }
  .contact-form-btn {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }
  .blok-address {
    margin-top: 18px;
  }
  .contact-info {
    gap: 8px;
  }

  .contact-info-item {
    padding: 18px 32px;
    font-size: 16px;
  }
}
/* ----------========== Desktop ==========---------- */

@media screen and (min-width: 1440px) {
  .work-together-section .container {
    padding-left: 196px;
    padding-right: 196px;
  }
  .work-together-section .container::after {
    top: -110px;
    right: 0;
    height: 680px;
    width: 420px;
    background-image: url('../img/desktop/background-last-section-desktop.webp');
  }
  .input-work-together-section {
    max-width: 390px;
  }
  .contact-form-btn {
    margin-left: auto;
  }
  .contact-info-item {
    padding: 18px 32px;
    font-size: 16px;
  }
}
