@import 'swiper/css';

/* Styles for Mobile devices */

.projects-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.projects-list-item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  overflow: hidden;
  border-radius: 24px;
}

.swiper-projects {
  max-width: 343px;
  overflow: hidden;
}

.projects-list-item-container {
  padding: 32px;
  text-align: left;
  background-color: var(--color-text);
}

.technologies-list {
  display: flex;
  flex-direction: row;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 96px;
}

.technologies-list-item {
  color: #1c1d20;
  border: 1px solid var(--border-prj);
  border-radius: 60px;
  padding: 13px 18px 13px 18px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  height: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.6s ease, transform 0.5s ease;
}

.technologies-list-item:hover {
  box-shadow: 0 8px 16px rgba(230, 67, 60, 0.8);
  transform: scale(1.1);
}

.projects-list-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.03em;
  max-width: 279px;
  margin-bottom: 32px;
  color: #1c1d20;
}

.projects-button {
  display: inline-block;
  width: 141px;
  height: 45px;
  padding: 13px 32px;
  border: none;
  border-radius: 60px;
  background-color: var(--carrot);
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.6s ease;
}

.projects-button:focus,
.projects-button:hover {
  background-color: #cb4531;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.projects-list-image-container {
  padding: 100px 16px;
  background-color: var(--bgr-card-prj);
}

.projects-swiper-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}
.projects-swiper-button-prev,
.projects-swiper-button-next {
  position: static;
  width: 52px;
  height: 52px;
  padding: 14px;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.6s ease;
  --color1: rgba(250, 250, 250, 1);
}

.projects-swiper-button-prev:hover,
.projects-swiper-button-next:hover,
.projects-swiper-button-prev:focus,
.projects-swiper-button-next:focus {
  box-shadow: inset 0 -8px 16px rgba(230, 67, 60, 0.8);
}

.projects-swiper-navigation svg {
  width: 24px;
  height: 24px;
}

.arrow-button-left {
  transform: scaleX(-1);
}

.projects-swiper-button-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.projects-swiper-button-disabled use {
  --color1: rgba(59, 59, 59, 1);
}

.projects-section {
  padding-bottom: 64px;
}
/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .swiper-projects {
    max-width: 704px;
  }

  .projects-list-item-container {
    padding: 64px;
    min-width: 704px;
  }

  .technologies-list {
    margin-bottom: 164px;
  }

  .technologies-list-item {
    padding: 18px;
    height: 55px;
  }

  .projects-list-title {
    font-size: 44px;
    line-height: 44px;
    max-width: 494px;
  }

  .projects-button {
    width: 177px;
    height: 55px;
    padding: 18px 50px;
  }

  .projects-list-image-container {
    padding: 120px 45px;
  }

  .projects-swiper-navigation {
    gap: 20px;
    margin-top: 64px;
  }

  .projects-swiper-button-prev,
  .projects-swiper-button-next {
    width: 68px;
    height: 68px;
    padding: 18px;
  }

  .projects-swiper-navigation svg {
    width: 32px;
    height: 32px;
  }

  .projects-section {
    padding-bottom: 96px;
  }
}
/* Styles for Desktop devices */

@media only screen and (min-width: 1440px) {
  .projects-list-item {
    flex-direction: row;
  }

  .swiper-projects {
    max-width: 1376px;
  }

  .projects-list-item-container {
    border-radius: 24px 0 0 24px;
    min-width: 688px;
  }

  .technologies-list {
    margin-bottom: 223px;
  }

  .projects-list-image-container {
    border-radius: 0 24px 24px 0;
    padding: 120px 37px;
  }

  .projects-section {
    padding-bottom: 164px;
  }
}
