/* Styles for Mobile devices */

.projects-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #fafafa66;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.projects-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 24px;
  border: none;
  overflow: hidden;
  max-width: 343px;
}

.projects-list-item-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  text-align: left;
}

.technologies-list {
  display: flex;
  flex-direction: row;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 96px;
}

.technologies-list-item {
  color: #1c1d20;
  border: 1px solid #1c1d2033;
  border-radius: 60px;
  padding: 13px 18px 13px 18px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  height: 45px;
}

.projects-list-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.03em;
  max-width: 279px;
  margin-bottom: 32px;
  color: #1c1d20;
}

.projects-button {
  max-width: 141px;
  height: 45px;
  padding: 13px 32px;
  border: none;
  border-radius: 60px;
  background-color: #e6533c;
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.02em;
}

.projects-list-image-container {
  padding: 100px 16px;
  background-color: #242527;
  border: none;
  border-radius: 0 0 24px 24px;
  overflow: hidden;
}

.swiper-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  width: 52px;
  height: 52px;
  padding: 14px;
  background-color: transparent;
  color: #fafafa;
  border: 1px solid #fafafa80;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .projects-list-item {
    max-width: 704px;
  }

  .projects-list-item-container {
    padding: 64px;
  }

  .technologies-list {
    margin-bottom: 164px;
  }

  .technologies-list-item {
    padding: 18px;
    height: 55px;
  }

  .projects-list-title {
    font-size: 44px;
    line-height: 44px;
    max-width: 494px;
  }

  .projects-button {
    max-width: 177px;
    height: 55px;
    padding: 18px 50px;
  }

  .projects-list-image-container {
    padding: 120px 45px;
  }

  .swiper-navigation {
    gap: 20px;
    margin-top: 64px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 68px;
    height: 68px;
    padding: 18px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px;
    color: #fafafa;
  }
}

/* Styles for Desktop devices */

@media only screen and (min-width: 1200px) {
  .projects-list-item {
    max-width: 1376px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .technologies-list {
    margin-bottom: 223px;
  }

  .projects-list-image-container {
    border-radius: 0 24px 24px 0;
    padding: 120px 37px;
  }
}
