/*reviews-section styles LENA BOKHAN*/
@import 'izitoast/dist/css/iziToast.min.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.loader {
  width: 60px;
  height: 60px;
  border: 5px solid #fafafa;
  border-bottom-color: #e6533c;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none;
  margin: auto;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reviews-section {
  padding-bottom: 64px;
  padding-top: 64px;
}

.reviews-title {
  margin-left: 0;
  margin-top: 0;
  font-weight: 600;

  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.error-title {
  background: linear-gradient(90deg, #1c1d20 20%, #9f3626 80.73%, #e6533c 100%);

  text-align: center;
  font-size: 32px;
}
/*.swiper-reviews {
  overflow: visible !important;
}*/
.wrap-card {
  margin-bottom: 32px;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.review-img {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}
.swiper-wrapper.wrap-card > .swipe-review {
  border: 1px solid rgba(250, 250, 250, 0.2) /*!important*/;
  border-radius: 20px;
  padding: 32px 24px;
  width: 344px;
  min-height: 366px;
  cursor: pointer;
  transition: box-shadow 0.6s ease, transform 0.5s ease /*!important*/;
}

.swiper-wrapper.wrap-card > .swipe-review:hover {
  box-shadow: 0 24px 15px -16px rgba(230, 67, 60, 0.8);
  transform: scale(0.96) /*!important*/;
}

.reviews-author {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.info-review {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.btn-rev-wraper {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  display: none;
}
.swiper-button-prev-rev,
.swiper-button-next-rev {
  width: 52px;
  height: 52px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: static;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.6s ease;
  margin-top: 0;
  padding: 14px;
  z-index: 20;
}

.swiper-button-next-rev:hover,
.swiper-button-prev-rev:focus,
.swiper-button-prev-rev:hover,
.swiper-button-next-rev:focus {
  box-shadow: inset 0 -8px 16px rgba(230, 67, 60, 0.8);
}

.swiper-button-prev-rev.swiper-button-disabled,
.swiper-button-next-rev.swiper-button-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
  opacity: 0.5;
  pointer-events: none;
}
.arr-btn-review {
  --color1: #fafafa;
}

.arr-btn-review.swiper-button-disabled {
  fill: #3b3b3b;
  pointer-events: none;
  opacity: 0.5;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .reviews-section {
    padding-bottom: 96px;
    padding-top: 96px;
  }

  .btn-rev-wraper {
    gap: 20px;
  }

  .swiper-button-prev-rev,
  .swiper-button-next-rev {
    width: 68px;
    height: 68px;
    border-radius: 60%;
    padding: 18px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .reviews-section {
    padding-bottom: 164px;
    padding-top: 164px;
  }
}
